/* カラー定義 */
[data-md-color-scheme=slate][data-md-color-primary=black], [data-md-color-scheme=slate][data-md-color-primary=blue-grey], [data-md-color-scheme=slate][data-md-color-primary=grey], [data-md-color-scheme=slate][data-md-color-primary=white] {
  --md-typeset-a-color: #0068b7;
}
[data-md-color-scheme="default"] {
  --md-default-fg-color: rgba(26, 26, 28, 1); /* テキストカラー #1a1a1c */
  --md-primary-fg-color: #efefef; /* ヘッダー */
  --md-typeset-a-color: #0068b7; /* リンクカラー */
  --md-accent-fg-color: #00aaff; /* リンクホバーカラー */
  --md-footer-bg-color--dark: #efefef; /* フッター */
  --md-footer-fg-color--light: #000000; /* フッターテキスト１ */
  --md-footer-fg-color--lighter: #000000; /* フッターテキスト２ */
}
[data-md-color-scheme="slate"] {
  --md-default-fg-color: #e0e0e0; /* テキストカラー */
  --md-primary-fg-color: #0d0d0d; /* ヘッダー */
  --md-default-bg-color: #161616;
  --md-typeset-a-color: #0068b7; /* リンクカラー */
  --md-accent-fg-color: #00aaff; /* リンクホバーカラー */
  --md-footer-bg-color--dark: #0d0d0d; /* フッター */
  --md-footer-fg-color--light: #fff; /* フッターテキスト１ */
  --md-footer-fg-color--lighter: #fff; /* フッターテキスト２ */
}
/* フォント */
:root {
  --md-text-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                         "Helvetica Neue", Arial, sans-serif,
                         "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
/* センタリング */
.md-typeset h1 {
  font-size: 2rem !important;
  line-height: 1.5 !important;
  margin-bottom: 6rem !important;
  text-align: center;
  color: var(--md-default-fg-color--light);
}
@media only screen and (max-width: 767px) {
  .md-typeset h1 {
    font-size: 1.5rem !important;
    line-height: 1.5 !important;
    margin-bottom: 4rem !important;
    text-align: left;
  }
}
.md-typeset h2 {
  font-size: 2rem !important;
  line-height: 1.5 !important;
  margin-bottom: 6rem !important;
  text-align: center;
  color: var(--md-default-fg-color--light);
}
@media only screen and (max-width: 767px) {
  .md-typeset h2 {
    font-size: 1.5rem !important;
    line-height: 1.5 !important;
    margin-top: 4rem !important;
    text-align: left;
  }
}
.center {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .center {
    text-align: left;
  }
}
.center-h {
  margin-right: 12.1rem;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 12.1rem);
}
@media only screen and (max-width: 767px) {
  .center-h {
    margin-right: 0;
    width: 100%;
    text-align: left;
  }
}
/* 画面調整 */
.md-content { 
  flex-grow: 1;
  min-width: 0;
  margin-bottom: 4rem; /* ボトム調整 */
}
.md-content__inner {  /* 画面余白調整 */
  margin: 0 2rem;
  padding-top: 0;
}
@media only screen and (max-width: 767px) {
  .md-content__inner {  /* 画面余白調整 */
    margin: 0 0.5rem;
    padding-top: 0;
}
@
.md-tabs__link:hover { /* タブのホバー色 */
  color: var(--md-typeset-a-color);
}
/* インデント・箇条書き右寄せ */
.idt {
  max-width: 38em;
  line-height: 2.4;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-indent:1em;
  }
.hg-idt {
  max-width: 38em;
  line-height: 2.4;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-left:1em;
  text-indent:-1em;
  }
.hg-idt2 {
  max-width: 38em;
  line-height: 2.4;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-left:2em;
  text-indent:-2em;
  }
.pad1 {
  padding-left:1em;
  }
.pad2 {
  padding-left:2em;
  }
.pad3 {
  padding-left:3em;
  }
.pad4 {
  padding-left:4em;
  }
.pad5 {
  padding-left:5em;
  }
.pad6 {
  padding-left:6em;
  }
.foot {
  font-size: 0.85em;
  padding-left:1em;
  text-indent:-1em;
  }  

/* 注釈ディレクティブ */
.margin-note {
  float: right ;
  width: 12.1rem;
  font-size: 0.85em;
  line-height: 1.6;
}
@media only screen and (max-width: 767px) {
  .margin-note {
    float: none;
    width: 100%;
    padding-left: 0;
  }
}
@media only screen and (max-width: 767px) {
  div.margin-note {
    display: none;
    }
}
/* グリッドカード */
.cards li:hover {
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.1) !important;
}
/* シェアボタン */
.bdg-dark {
  display: inline-block;
  margin: 0;
  padding: .35em .65em;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: #FFFFFF !important;
  background-color: #000000;
} 
.bdg-dark:hover {
  background-color: #707070;
  color: #FFFFFF;
}